body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

.app {
    text-align: center;
    
  }
  
  .board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 20px auto;
  }
  
  .square-container {
    width: 100px;
    height: 100px;
  }
  
  .square {
    width: 100%;
    height: 100%;
    font-size: 2em;
    border: 1px solid greenyellow;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
  }
  
  
  .winner {
    margin-top: 20px;
    font-size: 1.5em;
    color: white;
  }
  
  .turn {
    margin-top: 20px;
    font-size: 1.2em;
    color: yellow;
    font-weight: bold;
  }
  
  .reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background-color: red;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .reset-button:hover {
    background-color: rgb(185, 14, 14);
  }
  